<!--== Slider Area Start ==-->



<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container"><br><br><br><br><br><br>
            <div class="row">
                            <!--== Pick Up Location ==-->

                                {% for cat in cats %}
                                    {{ cat|raw }}
                                {% endfor %}


                            <!--== Car Choose ==-->

                            <!--== Car Choose ==-->

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>Bugun Bir İlan Ver!</h1>
                                <p>En Hızlı Bir Şekilde <br> Aracınızı Tanıtın</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
<!--== Slider Area End ==-->

